@charset "UTF-8";
html {
  font-size: 20px;
}

.ly-cont {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 5%;
}

a {
  color: #333333;
  text-decoration: none;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
  vertical-align: middle;
}

li {
  list-style: none;
}

.header {
  background-color: #FFFFFF;
  height: 100px;
  /*アクティブになったエリア*/
  /*丸の拡大*/
}
.header__logo {
  margin: 50px 40px 0 40px;
  width: 100px;
}
.header__logo a {
  display: block;
}
.header__openbtn {
  position: fixed;
  z-index: 7777; /*ボタンを最前面に*/
  top: 0;
  right: 0;
  cursor: pointer;
  width: 100px;
  height: 100px;
  background-color: #FF2A2A;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  /*activeクラスが付与されると線が回転して×に*/
}
.header__openbtn span,
.header__openbtn span:before,
.header__openbtn span:after {
  background: #FFFFFF;
  content: "";
  display: inline-block;
  position: absolute;
  height: 3px;
  border-radius: 2px;
  width: 50%;
  transition: all 0.4s; /*アニメーションの設定*/
}
.header__openbtn span:before {
  bottom: 15px;
  width: 100%;
}
.header__openbtn span:after {
  top: 15px;
  width: 100%;
}
.header__openbtn.active span {
  background-color: rgba(255, 255, 255, 0);
}
.header__openbtn.active span::before {
  opacity: 1;
  bottom: 0;
  transform: rotate(45deg);
}
.header__openbtn.active span::after {
  opacity: 1;
  top: 0;
  transform: rotate(-45deg);
}
.header__gnav {
  background-color: #FF2A2A;
  color: #FFFFFF;
  text-align: center;
  /*position:fixed;にし、z-indexの数値を大きくして前面へ*/
  position: fixed;
  z-index: 777;
  /**/
  top: 0;
  width: 100%;
  height: 100vh;
  transition: all 0.5s; /*アニメーション設定*/
  opacity: 0;
}
.header__gnav.active {
  opacity: 1;
}
.header__gnav__logo {
  position: absolute;
  top: 50px;
  left: 40px;
  width: 100px;
}
.header__gnav a {
  color: #FFFFFF;
  font-weight: bold;
  text-align: center;
}
.header__gnav__list {
  /*ナビゲーション天地中央揃え*/
  z-index: 777;
  margin: 80px 0 40px 0;
  text-align: center;
  /*背景が出現後にナビゲーションを表示*/
}
.header__gnav__list.active {
  opacity: 1;
}
.header__gnav__list li {
  font-size: 0.8rem;
  font-weight: bold;
  padding-bottom: 20px;
  /* 背景が出現後にナビゲーション li を表示*/
  -webkit-animation-name: gnaviAnime;
          animation-name: gnaviAnime;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; /*0.2 秒遅らせて出現*/
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
}
@-webkit-keyframes gnaviAnime {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes gnaviAnime {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.header__gnav__list a {
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.header__gnav__btn {
  border: solid 1px #FFFFFF;
  font-size: 0.8rem;
  font-weight: bold;
  letter-spacing: 1.6px;
  display: block;
  width: 250px;
  padding: 15px 0;
  margin: 0 auto;
  position: relative;
  transition: 0.3s ease-in-out;
}
.header__gnav__btn:after {
  content: "　";
  border-right: solid 1px #FFFFFF;
  border-bottom: solid 1px #FFFFFF;
  width: 250px;
  padding: 15px 0;
  position: absolute;
  right: -6px;
  bottom: -6px;
}
.header__circle-bg {
  position: fixed;
  z-index: 5;
  /*丸の形*/
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #FF2A2A;
  /*丸のスタート位置と形状*/
  transform: scale(0); /*scaleをはじめは0に*/
  top: -50%;
  left: calc(50% - 50px); /*50%から円の半径を引いた値*/
  transition: all 0.6s; /*0.6秒かけてアニメーション*/
}
.header__circle-bg.active {
  transform: scale(50); /*クラスが付与されたらscaleを拡大*/
}