@charset "utf-8";

// レスポンシブ用
$breakpoints: (
  "tb": "screen and (max-width: 1200px)",
  "tb-s": "screen and (max-width: 900px)",
  "sm-x": "screen and (max-width: 600px)",
  "sm": "screen and (max-width: 480px)",
  "sm-s": "screen and (max-width: 340px)",
);
@mixin bq($breakpoint) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}
html {
  font-size: 20px;
}
// html {
//   @include bq(tb) {
//     font-size: 16px;
//   }
//   @include bq(tb-s) {
//     font-size: 14px;
//   }
//   @include bq(sm-x) {
//     font-size: 12px;
//   }
//   @include bq(sm) {
//     font-size: 10px;
//   }
// }

// 0.8rem⇒16px

// color
$background-white: #FFFFFF;
$background-red: #FF2A2A;
$background-gray: #CCCCCC;
$background-lightGray: #E8E8E8;
$font-white: #FFFFFF;
$font-black: #333333;
$font-red: #FF2A2A;
$textbox: #E9F1FB;
$btn-shadow: #7A051C;

body {
  background-color: $background-white;

  font-family:
    "游ゴシック体",
    YuGothic,
    "游ゴシック Medium",
    "Yu Gothic Medium",
    "游ゴシック",
    "Yu Gothic",
    sans-serif;
}

.ly-cont {
  width: 100%;
  max-width: 860px;
  margin: 0 auto;
  // padding: 0 5%;
}

a {
  color: $font-black;//文字色デフォルトから変更
  text-decoration: none;// 下線を非表示
}

img {
  object-fit: cover;// アスペクト比
  max-width: 100%;
  vertical-align: bottom;// 画像下の余白を消す
}

li {
  list-style: none;// マーク非表示
}

.header {
  background-color: $background-white;
  height: 100px;

  &__logo {
    margin: 50px 40px 0 40px;
    width: 100px;

    a {
      display: block;
    }
  }

  // https://www.asobou.co.jp/blog/web/css-menu
  &__openbtn {
    position: fixed;
    z-index: 30;/*ボタンを最前面に*/
    top: 0;
    right: 0;
    cursor: pointer;
    width: 100px;
    height: 100px;

    background-color: $background-red;
    color: $font-white;

    display: flex;
    justify-content: center;
    align-items: center;

    span,
    span:before,
    span:after {
      background: $background-white;

      content: '';
      display: inline-block;
      position: absolute;
      // top: 50px;
      // left: 25px;
      height: 3px;
      border-radius: 2px;
      width: 50%;

      transition: all .4s;/*アニメーションの設定*/
    }

    span:before {
      // @extend span;
      bottom: 15px;
      width: 100%;
    }

    span:after {
      // @extend span;
      top: 15px;
      width: 100%;
    }

    // span:nth-of-type(1) {
    //   top: 35px;
    // }

    // span:nth-of-type(2) {
    //   top: 50px;
    // }

    // span:nth-of-type(3) {
    //   top: 65px;
    // }

    /*activeクラスが付与されると線が回転して×に*/
    &.active span {
      // opacity: 0;/*真ん中の線は透過*/
      background-color: rgba(255, 255, 255, 0);
    }

    &.active span::before {
      opacity: 1;
      bottom: 0;
      transform: rotate(45deg);
    }

    &.active span::after {
      opacity: 1;
      top: 0;
      transform: rotate(-45deg);
    }

    // &.active span:nth-of-type(1) {
    //   top: 45px;
    //   left: 10px;
    //   transform: translateY(6px) rotate(-45deg);
    //   width: 80%;
    // }

    // &.active span:nth-of-type(2) {
    //   opacity: 0;/*真ん中の線は透過*/
    // }

    // &.active span:nth-of-type(3) {
    //   top: 45px;
    //   left: 10px;
    //   transform: translateY(6px) rotate(45deg);
    //   width: 80%;
    // }

  }

  /*アクティブになったエリア*/
  &__gnav {
    background-color: $background-red;
    color: $font-white;

    text-align: center;

    // display: none;/*はじめは表示なし*/

    /*position:fixed;にし、z-indexの数値を大きくして前面へ*/
    position: fixed;
    z-index: 20;

    /**/
    top: 0;
    width: 100%;
    height: 100vh;

    transition: all 0.5s;/*アニメーション設定*/
    opacity: 0;
    visibility: hidden;/*はじめは非表示*/

    &.active {
      opacity: 1;
      /*activeしたら表示*/
      visibility: visible;
    }

    &__logo {
      // @extend .header__logo;
      position: absolute;
      top: 50px;
      left: 40px;
      width: 100px;
    }

    a {
      color: $font-white;
      font-weight: bold;
      text-align: center;
    }

    &__list {
      // opacity: 0;/*はじめは透過0*/

      // z-index: 777;

      margin: 80px 0 40px 0;
      text-align: center;

      /*背景が出現後にナビゲーションを表示*/
      &.active {
        opacity: 1;
      }

      li {
        font-size: 0.8rem;
        font-weight: bold;
        padding-bottom: 20px;

        /* 背景が出現後にナビゲーション li を表示*/
        animation-name: gnaviAnime;
        animation-duration:1s;
        animation-delay:.2s;/*0.2 秒遅らせて出現*/
        animation-fill-mode:forwards;
        opacity:0;

        @keyframes gnaviAnime{
          0% {
            opacity: 0;
          }
          100% {
            opacity: 1;
          }
        }
      }

      a {
        display: block;
        text-transform: uppercase;
        letter-spacing: 0.1em;
      }
    }

    &__btn {
      border: solid 1px $font-white;
      font-size: 0.8rem;
      font-weight: bold;
      letter-spacing: 1.6px;

      // content: " ";
      display: block;
      width: 250px;
      padding: 15px 0;
      margin: 0 auto;
      position: relative;

      transition: 0.3s ease-in-out;

      &:after {
        content: "　";
        border-right: solid 1px $font-white;
        border-bottom: solid 1px $font-white;

        width: 250px;
        padding: 15px 0;
        position: absolute;
        right: -6px;
        bottom: -6px;
      }

      &:hover {
        background-color: $background-white;
        color: $background-red;
      }
    }
  }

  /*丸の拡大*/
  &__circle-bg {
    position: fixed;
    z-index: 5;

    /*丸の形*/
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: $background-red;

    /*丸のスタート位置と形状*/
    transform: scale(0);/*scaleをはじめは0に*/
    top: -50%;
    left: calc(50% - 50px);/*50%から円の半径を引いた値*/
    transition: all .6s;/*0.6秒かけてアニメーション*/

    &.active {
      transform: scale(50);/*クラスが付与されたらscaleを拡大*/
    }
  }
}

.mainvisual {
  height: 720px;
  margin-bottom: 120px;

  &__text {
    position: absolute;
    top: 380px;
    left: 135px;
    z-index: 10;

    &__title {
      color: $font-black;
      font-size: 2.3rem;
      font-weight: bold;
      letter-spacing: 4.6px;
      margin-bottom: 30px;
    }

    &__btn {
      color: $font-white;
      background-color: $background-red;
      border-bottom: solid 6px $btn-shadow;
      border-radius: 10px;
      font-size: 1.2rem;
      font-style: normal;
      letter-spacing: 2.4px;

      display: block;
      text-align: center;
      padding: 15px 30px;
      width: 480px;

      transition: 0.3s;

      /* くの字 */
      position: relative;

      // https://kouhekikyozou.com/css_arrow_button
      /* くの字の表示設定 */
      &:after {
        content: "";
        /* くの字位置設定 */
        margin: auto;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 30px;
        /* くの字長さ */
        width: 15px;
        height: 15px;
        /* くの字太さ */
        border-top: 3px solid $font-white;
        border-right: 3px solid $font-white;
        /* くの字の向き */
        transform: rotate(45deg);
      }

      &:hover {
        opacity: 0.9;
        transform: scale(1.05);
      }
    }
  }

  // https://atelier-light.com/blog/full_screen_slide_animation01/#toc4
  &__img {
    position: relative;

    & li {
      // display: block;
      position: absolute;
      top: 0;
      right: 0;
      width: 75%;

      /* スライドアニメーション設定 */
      animation-duration: 15s; /* 長さ15秒 */
      animation-iteration-count: infinite; /* 無限に再生を繰り返す */
      animation-name: fade; /* アニメーション名 */
      animation-timing-function: ease; /* 開始と完了を滑らかにする */
      opacity: 0;

      // animation: fade 15s infinite;

      &:nth-child(1) {
        animation-delay: 0s;
      }

      &:nth-child(2) {
        animation-delay: 5s;
      }

      &:nth-child(3) {
        animation-delay: 10s;
      }

      /* フェードイン、フェードアウト設定 */
      @keyframes fade{
        0% {
            opacity: 0;
        }
        16% {
            opacity: 1;
        }
        33% {
            opacity: 1;
        }
        49% {
            opacity: 0;
        }
        100% {
            opacity: 0;
            // transform: translateX(-10%);/*15秒かけて（0%〜100%）左から右へ10%移動*/
        }
      }

      &:after {
        /* :afterを有効にする */
        content: "";
        /* box-shadowの設定 */
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        box-shadow: inset 0px 0px 20px 20px #fff;
      }

      img {
        height: 720px;
        width: 100%;
      }
    }
  }
}

.sec-title {
  color: $font-black;
  font-size: 1.8rem;
  font-weight: bold;
  letter-spacing: 3.6px;
  margin-bottom: 100px;
  text-align: center;

  position: relative;

  /* sec-titleの下線 */
  &:before {
    content: "";
    background-color: $font-black;
    display: block;
    // display: inline-block;
    height: 3px;
    width: 100px;
    position: absolute;
    bottom: -20px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}

.reason {
  margin-bottom: 120px;

  &__area {
    background-color: $background-red;
    width: 100%;
    padding: 80px 0;

    // https://1-notes.com/css-slide-in-out-animation/
    &__itemLeft,
    &__itemRight {
      background-color: $background-white;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50%;
      padding: 70px 0;

      // opacity: 0;

      &__img {
        height: 60px;
        margin-right: 30px;
      }

      &__box {
        .title {
          display: block;/* 改行 */
          color: $font-red;
          font-size: 1.4rem;
          font-weight: bold;
          letter-spacing: 2.8px;
        }
        .text {
          display: block;/* 改行 */
          color: $font-black;
          font-weight: normal;
          font-size: 0.9rem;
          letter-spacing: 1.8px;
        }
      }

    }

    &__itemLeft {
      border-radius: 0px 20px 20px 0px;
      margin-bottom: 40px;

      margin-left: 0;
      margin-right: auto;
    }

    &__itemRight {
      border-radius: 20px 0px 0px 20px;

      margin-left: auto;
      margin-right: 0;
    }

    // Animate.cssを使わない場合
    // .fadeUpSlideLeft {
    //   animation: slide-left 0.5s ease-out 0s forwards;

    //   @keyframes slide-left {
    //     0% {
    //       transform: translateX(-50%);
    //     }

    //     100% {
    //       opacity: 1;
    //       transform: translateX(0);
    //     }
    //   }
    // }

    // .fadeUpSlideRight {
    //   animation: slide-right 0.5s ease-out 0s forwards;

    //   @keyframes slide-right {
    //     0% {
    //       transform: translateX(150%);
    //     }

    //     100% {
    //       opacity: 1;
    //       transform: translateX(100%);
    //     }
    //   }
    // }
  }
}

.voice {
  margin-bottom: 120px;

  .voice__item-left,
  .voice__item-right {
    color: $font-black;
    display: flex;
    margin-bottom: 60px;

    &__student {
      img {
        height: 120px;
        width: 120px;
        background-color: $background-gray;
        border-radius: 50%;
      }

      &__name {
        font-size: 0.6rem;
        font-weight: normal;
        letter-spacing: 1.2px;
        text-align: center;
      }
    }

    &__text {
      display: inline-block;
      background-color: $textbox;
      border-radius: 15px;
      font-size: 0.8rem;
      font-weight: normal;
      letter-spacing: 1.6px;
      padding: 20px;
      width: 60%;

      position: relative;
    }
  }

  .voice__item-left {
    justify-content: flex-start;

    &__text {
      margin-left: 26px;

      &:before {
        content: "";
        border: 15px solid transparent;
        border-right: 15px solid $textbox;
        margin-left: -30px;
        position: absolute;
        top: 60%;
        left: 0;
      }
    }
  }

  .voice__item-right {
    flex-direction: row-reverse;/* 横並び逆順 */
    // justify-content: flex-end;
    justify-content: flex-start;

    &__text {
      margin-right: 26px;

      &:before {
        content: "";
        border: 15px solid transparent;
        border-left: 15px solid $textbox;
        margin-right: -30px;
        position: absolute;
        top: 60%;
        right: 0;
      }
    }
  }
}

// https://hirashimatakumi.com/blog/4373.html
.summary {
  background-color: $background-lightGray;
  padding: 60px 0;
  margin-bottom: 120px;

  background: url(../img/bg.gif);
  background-position: 0 0;
  animation: bgroop 10s linear infinite;

  @keyframes bgroop {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: -700px 700px;
    }
  }

  &__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items:stretch;

    &__box {
      color: $font-black;
      background-color: $background-white;
      border-radius: 20px;
      // width: 50%;
      width: calc(50% - 60px / 2);
      padding: 60px;
      margin-bottom: 32px;

      .title {
        font-weight: bold;
        text-align: center;

        &__ja {
          display: block;
          font-size: 1.4rem;
          letter-spacing: 2.8px;
          line-height: 1;
          padding-bottom: 15px;
        }

        &__en {
          display: block;
          font-size: 0.9rem;
          letter-spacing: 1.8px;
          line-height: 1;
          padding-bottom: 30px;
        }
      }

      .text {
        font-size: 0.8rem;
        font-weight: normal;
        letter-spacing: 1.6px;
      }
    }
  }
}

.entry {
  text-align: center;
  margin-bottom: 120px;

  &__text {
    color: $font-black;
    font-size: 1.6rem;
    font-weight: bold;
    letter-spacing: 3.2px;
    padding-bottom: 5px;
  }

  &__textsub {
    color: $font-black;
    font-size: 0.9rem;
    font-weight: normal;
    letter-spacing: 1.8px;
    margin-bottom: 40px;
  }

  &__btn {
    background-color: $background-red;
    border: solid 3px $font-red;
    border-radius: 40px;
    color: $font-white;
    font-size: 1.4rem;
    font-weight: bold;
    letter-spacing: 2.8px;
    display: inline-block;
    padding: 15px 0;
    width: 860px;
    transition: all  0.3s ease;

    &:hover {
      background-color: $background-white;
      color: $font-red;
    }
  }
}
